@model BookManagement1.Models.Categolory

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Categoloty page detail
}
<div>
    <h4>Categolory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoloryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoloryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoloryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
