@{
    ViewBag.Title = "SubmitSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />

<div class="container">
    <div class="row">
        <br><div style='text-align:center'>

            <h3>********** Chúng tôi sẽ giao hàng cho bạn trong một hai ngày tới **********</h3>
        </div>
        </div>
    </div>
<br><br>

