img { max-width:100%; }
/* Container */
.container-fluid {
    margin: 40px auto 10px;
    padding: 20px 40px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    color: #999;
    text-transform: uppercase;
}
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}
.btn.btn-mini {
    font-size: 0.63rem;
    }
/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-controll{
    background: rgb(198, 0, 1);
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 7px 7px 0px;
    position: static;
    height: 32px;
    width: 24px;
}
/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}